name: Preprocessing Workflow

on:
  push:
    branches: [ main ] # Berjalan otomatis saat kamu push ke branch main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run preprocessing script
      run: |
        python preprocessing/automate_jesika.py

    - name: Commit and Push processed data
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add preprocessing/namadataset_preprocessing/
        git commit -m "Update processed dataset" || echo "No changes to commit"
        git push
