name: Preprocessing Workflow

on:
  push:
    branches: [ main ] # Berjalan otomatis saat kamu push ke branch main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run preprocessing script
      run: |
        python preprocessing/automate_jesika.py

    - name: Commit and Push processed data
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add preprocessing/namadataset_preprocessing/
        
        # Cek apakah ada perubahan sebelum commit agar tidak error
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Update processed dataset [skip ci]"
          git push origin main
        fi
